*{
  margin: 5px;
  padding: 0px;
  box-sizing: border-box;
}

 body{
   background-color: #f6edff;
 }
 /* .title {
   position: fixed;
   display: flex;
   justify-content: center;
   margin: 20px;
 } */

h1{
  font: 200 130px/0.8 'Cookie', Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  background: #62879e;
  margin: 40px;
  display:flex;
  justify-content: center;


}

.navigation{
  background: #62879e;
   position:relative;
}



.home-navigation{
  background-color: #62879e;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  font-family: helvetica;

}

.stress-nav{
  background-color: #62879e;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  font-family: helvetica;

}

.phys-nav{
  background-color: #62879e;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  font-family: helvetica;

}

.mot-nav{
  background-color: #62879e;
  color: white;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  font-family: helvetica;

}

.foods{
  background-color: #E5FBFF;
  border: 2px solid #62879e;

}
.Exercises{
  background-color: #E5FBFF;
  border: 2px solid #62879e;
}

.Exercises img {
  width: 200px;
  height: 200px;
  margins: 50px;


}

.tips {

  /* display: flex;
  justify-content: center; */
  background-color: #E5FBFF;
  border: 2px solid #62879e;

}

p {
   display: flex;
   justify-content: center;
  font-size: 25px;
  color:#0d3c4a;
  font-family: helvetica;
}


h4{
    display: flex;
    justify-content: center;
    color:#0d3c4a;
    font-family: helvetica;

}
h3{

  text-size: 80px;
  color:#0d3c4a;
  font-family: helvetica;



  /* word-break: normal|break-all|keep-all|break-word|initial|inherit; */
}

.all {
  display: flex;
  justify-content: center;
}
.navigation{

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;



}
